www.{$FILEFLOW_WEB_HOST} {
	redir https://{$FILEFLOW_WEB_HOST}{uri} permanent
}

{$FILEFLOW_WEB_HOST} {
	encode zstd gzip

	handle /api/* {
		reverse_proxy api:8000
	}

	handle {
		root * /srv/fileflow
		try_files {path} {path}/ {path}.html /404.html
		file_server
	}

	log {
		output stdout
		format json
	}
}

api.fileflow.pro, {$FILEFLOW_API_HOST} {
	encode zstd gzip
	reverse_proxy api:8000

	log {
		output stdout
		format json
	}
}
